__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

logs/
*.log
*.tmp

gcp/*.json
*.key
.env

data/raw/*.csv
data/raw/*.csv.gz
airflow/dags/data/*.csv
airflow/dags/data/*.csv.gz

# dbt dependencies
dbt/target/
dbt/logs/
dbt/profiles/.user.yml
dbt_packages/
data/dbt_docs

.vscode/
.idea/